body {
	background: #DCCCF3 url("./images/bg_purple.gif") repeat-x !important;
}

.headerbg {
	background: #150037 url("./images/headerbg_purple.gif") repeat-x !important;
}

.headerbar {
	background-image: url("./images/header_purple.png") !important;
}

.rtl .headerbar {
	background-image: url("./images/header_purple_rtl.png") !important;
}