body {
	background: #F3CCE3 url("./images/bg_pink.gif") repeat-x !important;
}

.headerbg {
	background: #390023 url("./images/headerbg_pink.gif") repeat-x !important;
}

.headerbar {
	background-image: url("./images/header_pink.png") !important;
}

.rtl .headerbar {
	background-image: url("./images/header_pink_rtl.png") !important;
}